body {
  padding-top: 75px;
}

.row-padding {
    padding-top: 20px;
}

.no-padding {
    margin-left: -15px;
}

.box-shadow {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
